.layout-grid-container {
    display: grid;
    grid-template-columns: [first] 20vw [line2] auto [line3] 20vw [end];
    > * {
        padding: 2rem 1.5rem;
    }
}

.main-container {
    grid-column-start: line2;
    grid-column-end: line3;
}

.side-panel-container {
    grid-column-start: first;
    grid-column-end: line2; 
}



@media (max-width: 1000px) {
    .layout-grid-container {
        > * {
            padding: 2rem 2.5rem;
        }
    }
    
    .main-container {
        grid-column-start: 1;
        grid-column-end: 12;
    }
    
    .side-panel-container {
        grid-column-start: 1;
        grid-column-end: 12; 
    }
}


@media (max-width: 600px) {
    .layout-grid-container {
        > * {
            padding: 2rem 1.5rem;
        }
    }
    
}