@use '../helpers/variables';

.side-panel-container {
    height: 100vh;
    overflow-y: auto;
    // spacing
    h1 { margin-bottom: 1rem; }
    > * + * {
        margin-top: 2.5rem;
    }
}

.year-list-container {
    > * + * {
        margin-top: 1rem;
    }
}

.list-toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-toggle--large {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.list-side-panel {
    list-style: none;
    li {
        padding: 0.5rem 1rem;
    }
}

.list-side-panel--entry {
    li:nth-child(even) {
        background-color: variables.$c-offwhite;
    }
}

.entry-list-item button {
    display: flex;
    gap: 1rem;
}

.entry-list-item--selected {
    color: variables.$c-hotpink;
    border-left: 5px solid variables.$c-hotpink;
}

.reading-mode-toggle-container {
}

.radios {
    padding: 0rem 1.5rem;
    > div + div { margin-top: 1rem; }
}

.radio-option {
    input { margin-right: 0.5rem; }       
}