* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFBFB;
}

a {
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #645368;
}

.heading-top {
  font-size: 1.75rem;
  color: #0A0310;
}

.heading-label {
  font-size: 0.875rem;
  color: #FF4F79;
  font-weight: 700;
  text-transform: uppercase;
}

.label-bold {
  font-size: 1rem;
  font-weight: 600;
}

.nav-container {
  position: absolute;
  right: 0px;
  padding: 1rem;
}
.nav-container ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.side-panel-container {
  height: 100vh;
  overflow-y: auto;
  scrollbar-color: #ecd7dd #F9F2F2;
  position: relative;
}

.side-panel-toggle-container {
  position: absolute;
  cursor: pointer;
}

.side-panel-content {
  margin-top: 2.5rem;
  transition: 0.2s ease-in-out;
  opacity: 0;
}
.side-panel-content h1 {
  margin-bottom: 1rem;
}
.side-panel-content > * + * {
  margin-top: 2.5rem;
}

.show-panel {
  opacity: 1;
}

@media (max-width: 1000px) {
  .side-panel-container {
    height: auto;
  }
}
.year-list-container > * + * {
  margin-top: 1rem;
}

.list-toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-toggle--large {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.list-side-panel {
  list-style: none;
}
.list-side-panel li {
  padding: 0.5rem 0rem 0.5rem 1rem;
}

.list-side-panel--entry li {
  transition: 0.25s ease-in-out;
}
.list-side-panel--entry li:first-child {
  margin-top: 0.5rem;
}
.list-side-panel--entry li:nth-child(even) {
  background-color: #F9F2F2;
}
.list-side-panel--entry li:hover {
  color: #FF4F79;
  opacity: 0.75;
}

.entry-list-item button {
  text-align: left;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.entry-list-item--selected {
  color: #FF4F79;
  border-left: 5px solid #FF4F79;
}

.radios {
  padding: 0rem 1.5rem;
}
.radios > div + div {
  margin-top: 1rem;
}

.radio-option input {
  margin-right: 0.5rem;
}

.entry-container {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  width: 100%;
}

.heading-entry {
  font-size: 2rem;
}

.entry-body {
  line-height: 160%;
  font-size: 1rem;
}

.next-prev-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.metadata-container {
  color: #887187;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #F9F2F2;
  border-radius: 4px;
}

.metadata-row {
  display: flex;
  justify-content: space-between;
}

.metadata-items {
  display: flex;
  gap: 2rem;
}

.icon-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.edit-entry-btn {
  border: 1px solid #887187;
  padding: 0.25rem 0.5rem;
}

.overall-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.layout-grid-container {
  display: grid;
  width: min(100%, 1600px);
  grid-template-columns: [first] min(300px, 22vw) [line2] auto [line3] min(250px, 22vw) [end];
}
.layout-grid-container > * {
  padding: 2rem 2rem;
}

.main-container {
  grid-column-start: line2;
  grid-column-end: line3;
}

.side-panel-container {
  grid-column-start: first;
  grid-column-end: line2;
}

.nav-container {
  grid-column-start: line3;
  grid-column-end: end;
}

@media (max-width: 1000px) {
  .layout-grid-container > * {
    padding: 2rem 2.5rem;
  }
  .main-container {
    grid-column-start: 1;
    grid-column-end: 12;
  }
  .side-panel-container {
    grid-column-start: 1;
    grid-column-end: 12;
  }
}
@media (max-width: 600px) {
  .layout-grid-container > * {
    padding: 2rem 1.5rem;
  }
}/*# sourceMappingURL=index.css.map */