@use '../helpers/variables';

// Typography rules
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: variables.$c-purple-medium;
}

.heading-top {
    font-size: 1.75rem;
    color: variables.$c-navy-black;
}

.heading-label {
    font-size: 0.875rem;
    color: variables.$c-hotpink;
    font-weight: 700;
    text-transform: uppercase;
}

.heading-highlighted {
    color: variables.$c-hotpink-darker;
}

.label-bold {
    font-size: 1rem;
    font-weight: 600;
}